.label {
    display: flex;
    color: aqua;
    font-weight: bold;
}

.temperament {
    display: flex;
}

p {
    margin-left: 5px;
    
}

.div {
    margin-left: 10px;
    color: beige;
}

.warning {
    display: flex;
    color: red;
    font-weight: bold;
}

span {
    color: red;
    font-weight: bold;
}