.h2 {
    margin-right: 600px;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img {
    width: 60px !important;
    height: 50px !important;
    margin-top: 15px;
}
.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #27282a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    font-size: 23px;

}
a {
    transition-property: margin-left, margin-right, font-size;
    transition-duration: 1s;
}
a.link:link {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color:rgb(6, 163, 163);
}

 a.link:hover {
    margin-left: 22px;
    margin-right: 22px;
    font-size: 30px;
    color:rgb(6, 163, 163);
}
a.link.active {
    margin-left: 22px;
    margin-right: 22px;
    font-size: 30px;
    color:rgb(6, 163, 163);
    font-weight: bold;
}
a.link:visited {
    color:rgb(6, 163, 163);
}